@import "../config.scss";

.connexion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-secondary;
  width: 50%;
  height: 62%;
  border-radius: 4rem;
  background-color: $color-white;
  backdrop-filter: blur(10px);
  color: $color-primary;
  .backgroundImageMain {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
    }
    .form_placeholder {
      padding: 1rem;
      height: 4rem;
      input {
        height: 2rem;
        width: 22rem;
        border: none;
        border-radius: 10px;
        text-align: center;
        background-color: $navbar-color;
        color: white;
      }
      input:active {
        background-color: $navbar-color;
      }
    }
    .form_buttons {
      margin-top: 2rem;
      button {
        margin: 1rem;
        height: 40px;
        width: 10rem;
        background-color: $navbar-color;
        color: $color-light;
        border: none;
        border-radius: 10px;
        font-family: $font-primary;
        &:hover {
          color: $color-secondary;
        }
      }
    }
    .forgotPassword {
      margin: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      width: 10rem;
      background-color: $navbar-color;
      color: $color-light;
      border: none;
      border-radius: 7px;
    }
    .forgotPassword:hover {
      color: $color-secondary;
    }
  }
}
.error_container {
  color: red;
}
