@import "../config.scss";

.Navabar_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: $navbar-color;
  font-family: $font-primary;
  max-height: 6rem;

  .image_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    img {
      width: 30%;
      height: 100%;
    }

    .siteName {
      color: $color-white;
      width: 150%;
    }
  }

  .Navbar_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    color: $color-light;
    align-items: center;
  }
  a {
    color: $color-white;
    text-decoration: none;
    &.active {
      color: $color-secondary;
    }
    &:hover {
      color: color-white-hover;
    }
  }
}
