@import "../config.scss";

.error_container {
  color: red;
}
p {
  margin: 0.6rem;
}
.register-content {
  font-family: $font-secondary;
  width: 50%;
  height: 62%;
  border-radius: 4rem;
  background-color: $color-white;
  backdrop-filter: blur(10px);
  .backgroundImageMain {
    display: flex;
    width: 100%;
    height: 100%;
    h1 {
      text-align: center;
      margin: 0;
      margin-top: 1rem;
    }
    .SignIn_container_form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
      .form_placeholder {
        padding: 1rem;
        height: 1.6rem;
        font-weight: 500;
        font-size: 1.2rem;
        input {
          height: 2.4rem;
          width: 18rem;
          border: none;
          border-radius: 10px;
          text-align: center;
          background-color: $navbar-color;
          color: $color-white;
          font-size: 1rem;
        }
      }
      .form_buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        margin-top: 5rem;
        button {
          height: 40px;
          width: 12rem;
          background-color: $navbar-color;
          color: $color-light;
          border: none;
          border-radius: 10px;
          font-family: $font-primary;
          &:hover {
            color: $color-secondary;
          }
        }
      }
    }
  }
}
